<div class="container">
    <!-- Login Form-->
    <div class="col-6 offset-3 mt-25">
        <div class="card mt-25">
            <div class="card-header text-center">
                <h5 class="fs-card-title">Formulaire de Connexion</h5>
            </div>
            <div class="body-card fs-login-form">

                <!-- Is Not Logged In -->
                <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmitLogin()" #f="ngForm" novalidate>
                    <div class="card2 card border-0 px-4 py-5" style="background-color: #f8f9fa">
                        <div class="row px-3 mb-10"> <label class="mb-1">
                                <h6 class="mb-0 text-sm">Nom d'utilisateur</h6>
                            </label> <input class="" type="text" name="username"
                                placeholder="Entrez un nom d'utilisateur valide" [(ngModel)]="form.username" required
                                #username="ngModel" minlength="3" maxlength="20">
                        </div>
                        <div class="alert alert-danger" *ngIf="username.errors && f.submitted">
                            <div *ngIf="username.errors.required">Nom d'utilisateur requis</div>
                            <div *ngIf="username.errors.minlength">
                                Le Nom d'utilisateur doit comporter au moins 3 caractères
                            </div>
                            <div *ngIf="username.errors.maxlength">
                                Le Nom d'utilisateur ne doit pas dépasser 20 caractères
                            </div>
                        </div>


                        <div class="row px-3 mb-10"> <label class="mb-1">
                                <h6 class="mb-0 text-sm">Mot de passe</h6>
                            </label> <input type="password" name="password" placeholder="Entrer le mot de passe"
                                [(ngModel)]="form.password" required minlength="6" #password="ngModel">
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
                            <div *ngIf="password.errors.required">Mot de passe requis</div>
                            <div *ngIf="password.errors.minlength">
                                Le mot de passe doit être au moins de 6 caractères
                            </div>
                        </div>


                        <div class="row px-3 mb-4">
                            <div class="custom-control custom-checkbox custom-control-inline"> <input id="chk1"
                                    type="checkbox" name="chk" class="custom-control-input"> <label for="chk1"
                                    class="custom-control-label text-sm">Se souvenir de moi</label> </div>
                            <a href="#" class="ml-auto mb-0 text-sm" data-toggle="modal"
                                data-target="#modalResetPassword">Mot de passe oublié?</a>
                        </div>


                        <div class="form-group">
                            <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                                Échec de la connexion
                            </div>
                        </div>


                        <div class="row mb-3 px-3"> <button type="submit"
                                class="btn btn-blue text-center">Connexion</button>
                        </div>


                        <div class="row mb-4 px-3"> <small>Vous n'avez pas de compte ? <a
                                    href="/register" class="text-danger ">S'inscrire</a></small> </div>
                    </div>
                </form>
                
                <!-- Is Logged In -->
                <div *ngIf="isLoggedIn" class="mt-25 ml-25 mr-25 text-center">
                    <div class="alert alert-success" role="alert">
                        Connexion réussie !
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<form *ngIf="!isLoggedIn" name="formModal" (ngSubmit)="f.form.valid && onSubmitForget()" #f="ngForm" novalidate>
    <div class="modal fade fs-login-modal" id="modalResetPassword" tabindex="-1" role="dialog"
        aria-labelledby="modalResetPasswordTitle" aria-hidden="true" *ngIf="!isLoggedIn">
        <div class="modal-dialog modal-dialog-centered" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Mot de passe oublié</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body fs-login-reset">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Adresse e-mail</label>


                        <input type="email" class="form-control" name="email"
                            placeholder="Entrez une adresse e-mail valide" [(ngModel)]="formModal.email" required
                            #email="ngModel" [pattern]="emailPattern">


                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="email.errors && f.submitted">
                        <div *ngIf="email.errors.required">Adresse e-mail requis</div>
                        <div *ngIf="email.errors.pattern">Adresse e-mail invalide</div>
                    </div>
                    <div *ngIf="validEmail == 'false'" class="alert alert-danger" role="alert">
                        <div>Aucun utilisateur n'a été trouvé avec cette adresse e-mail
                        </div>
                    </div>
                    <div *ngIf="validEmail == 'true'" class="alert alert-success" role="alert">
                        <div>{{ validEmailMessage }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-blue text-center">Envoyer</button>
                </div>
            </div>

        </div>
    </div>
</form>