<div class="container">
    <!-- Page Not Found-->
    <div class="col-8 offset-2 fs-mt-70 fs-mb-70 text-center">
        <div><i class="fs-e404-img fa fa-frown-o" aria-hidden="true"></i></div>
        <h1 class="fs-e404-title fs-pt-5 fs-pb-5 mb-10">Oops!</h1>
        <p class="fs-e404-body">La page que vous recherchez n'existe pas ou une autre erreur s'est produite.
            Revenez en arrière ou rendez-vous sur la page <a href="/home">accueil</a> pour choisir une nouvelle direction.
    </div>
</div>