<div class="container">
    <!-- Home Page Search Bar-->
    <div class="row fs-searchbar">
        <div class="col-8">
            <!-- don't work -->
            <nav class="navbar navbar-light bg-light col-12">
                <form class="form-inline" name="searchForm" (ngSubmit)="f.form.valid && onSubmitSearch()" #f="ngForm"
                    novalidate>
                    <input class="form-control mr-sm-2" type="text" placeholder="Trouvez un projet ..."
                        aria-label="Search" style=" font-size: 0.9em; width: 75%;" name="keyword" #keyword="ngModel"
                        [(ngModel)]="searchForm.keyword" autofocus required>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
                </form>
            </nav>
        </div>
        <div class="col-4 home-statics-tags">
            <div class="row">
                <ul class="nav col-12">
                    <li class="nav-item">
                        Projects <span href="#" class="badge badge-primary">10</span>
                    </li>
                    <li class="nav-item">
                        Événements <span href="#" class="badge badge-secondary">25</span>
                    </li>
                    <li class="nav-item">
                        Communautés <span href="#" class="badge badge-success">5</span>
                    </li>
                    <li class="nav-item">
                        Membres <span href="#" class="badge badge-warning">35</span>
                    </li>
                    <li class="nav-item">
                        Contributions <span href="#" class="badge badge-info">35</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <!-- Main Content -->
                <div class="col-8 main-content">
                    <h4 class="fs-title-simple">{{ project.name | titlecase }}</h4>
                    <img *ngIf="!project.photo" style="max-height: 400px; width: 100%;"
                        src="https://ec.europa.eu/info/sites/default/files/energy_climate_change_environment/news/images/renewables_focus_news_0.jpg"
                        alt="" class="img-fluid rounded-start">
                    <img *ngIf="project.photo" src="{{ project.photo }}" style="max-height: 400px; width: 100%;" alt=""
                        class="img-fluid rounded-start">
                    <div *ngIf="isOwner" class="row">
                        <div class="col-12 text-right">
                            <button class="btn fs-sm-btn fs-bg-trans" data-toggle="modal" data-target="#cover"
                                style="font-size: 0.7em !important;">
                                <i class="fas fa-pencil-alt"></i>&nbsp; changer
                            </button>
                        </div>
                    </div>
                    <!-- Project navbar -->
                    <div class="row fs-project-tabs" style="margin-left: 0">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a *ngIf="display == null" class="nav-link active" aria-current="page"
                                    href="/project/{{ project.id }}">Information</a>
                                <a *ngIf="display != null" class="nav-link" aria-current="page"
                                    href="/project/{{ project.id }}">Information</a>
                            </li>
                            <li class="nav-item">
                                <a *ngIf="display == 'cal'" class="nav-link active" aria-current="page"
                                    href="/project/{{ project.id }}?show=cal">Calendrier</a>
                                <a *ngIf="display != 'cal'" class="nav-link" aria-current="page"
                                    href="/project/{{ project.id }}?show=cal">Calendrier</a>
                            </li>
                            <li class="nav-item">
                                <a *ngIf="display == 'gal'" class="nav-link active" aria-current="page"
                                    href="/project/{{ project.id }}?show=gal">Gallerie</a>
                                <a *ngIf="display != 'gal'" class="nav-link" aria-current="page"
                                    href="/project/{{ project.id }}?show=gal">Gallerie</a>
                            </li>
                            <li class="nav-item">
                                <a *ngIf="display == 'com'" class="nav-link active" aria-current="page"
                                    href="/project/{{ project.id }}?show=com">Communauté</a>
                                <a *ngIf="display != 'com'" class="nav-link" aria-current="page"
                                    href="/project/{{ project.id }}?show=com">Communauté</a>
                            </li>
                            <li class="nav-item">
                                <a *ngIf="display == 'don'" class="nav-link active" aria-current="page"
                                    href="/project/{{ project.id }}?show=don">Contirubition</a>
                                <a *ngIf="display != 'don'" class="nav-link" aria-current="page"
                                    href="/project/{{ project.id }}?show=don">Contribution</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Information -->
                    <div *ngIf="display == null" class="fs-project-content">
                        <div *ngIf="isOwner" class="row">
                            <div class="col-11 text-right">
                                <button class="btn fs-sm-btn fs-bg-trans" data-toggle="modal"
                                    data-target="#editProject">
                                    <i class="fas fa-pencil-alt"></i>changer
                                </button>
                            </div>
                        </div>
                        <div class="row" style="margin-left: 0">
                            <div class="col-2">Création </div>
                            <div class="col">{{ project.creationDate }}</div>
                        </div>
                        <div class="row" style="margin-left: 0">
                            <div class="col-2">Propriétaire </div>
                            <div class="col"><a href="">{{ project.owner | titlecase }}</a></div>
                        </div>
                        <div class="row" style="margin-left: 0">
                            <div class="col-2">Avancement </div>
                            <div class="col">{{ project.progression }}%</div>
                        </div>
                        <div class="row" style="margin-left: 0">
                            <div class="col-2">Budget </div>
                            <div class="col">{{ project.budget }} TND</div>
                        </div>
                        <div class="row" style="margin-left: 0">
                            <div class="col-2">Bénévoles </div>
                            <div class="col">{{ project.volunteers }} Personnes</div>
                        </div>
                        <div class="row" style="margin-left: 0">
                            <div class="col-2">Lieu </div>
                            <div class="col"><a href="">{{ project.location }}</a></div>
                        </div>
                        <div class="row" style="margin-left: 0">
                            <div class="col-2">Description </div>
                            <div class="col-8">
                                <p class="text-justify">
                                    {{ project.description }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- calendar -->
                    <div *ngIf="display == 'cal'" class="fs-project-content fs-project-calendar">
                        <div class="row" style="margin-left: 0">
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-12">
                                    <div class="main-card mb-4 card">
                                        <div class="card-body">
                                            <div
                                                class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                                                <div *ngFor="let plan of project.plan"
                                                    class="vertical-timeline-item vertical-timeline-element">
                                                    <div> <span class="vertical-timeline-element-icon bounce-in"> <i
                                                                class="badge badge-dot badge-dot-xl badge-success">
                                                            </i> </span>
                                                        <div class="vertical-timeline-element-content bounce-in">
                                                            <h4 class="timeline-title">{{ plan.title }}
                                                                <span> ({{ plan.progressPercent }}% , {{ plan.budget }}
                                                                    TND)</span>
                                                            </h4>
                                                            <p class="vertical-timeline-element-text">{{
                                                                plan.description }}</p>
                                                            <span class="vertical-timeline-element-date">
                                                                {{ plan.date | slice:0:10 }} <br> {{ plan.date |
                                                                slice:11:16 }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Gallerie -->
                    <div *ngIf="display == 'gal'" class="fs-project-content fs-project-gallerie">
                        <h4>Photos</h4>
                        <hr>
                        <!-- Photos -->
                        <div class="mb-35 fs-project-media-grid" id="gallery" data-toggle="modal"
                            data-target="#exampleModal">
                            <div class="row">
                                <ng-template ngFor let-item [ngForOf]="project.media">
                                    <div *ngIf="item.type == 'image'" class="col-3">
                                        <a class="thumbnail" href="{{ item.media }}" data-image-id=""
                                            data-toggle="modal" data-title="{{ item.title }}"
                                            data-caption="Lorem Ipsum is Simply Dummy Text"
                                            attr.data-image="{{ item.media }}" data-target="#image-gallery">

                                            <img src="{{ item.media }}" class="img-fluid rounded-start">
                                        </a>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                        <h4>Vidéos</h4>
                        <hr>
                        <!-- Videos -->
                        <div class="mb-35 fs-project-media-grid">
                            <div class="row">
                                <ng-template ngFor let-item [ngForOf]="project.media">
                                    <div *ngIf="item.type == 'video'" class="col-4">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" [src]="item.media | safe"
                                                allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <!-- Community -->
                    <div *ngIf="display == 'com'" class="fs-project-community">
                        <div class="container mb-5 mt-5">
                            <div class="row no-border">
                                <div class="col-md-12">

                                    <div *ngFor="let item of project.comment" class="media mb-35">
                                        <img *ngIf="!item.userLogo" class="mr-3 rounded-circle"
                                            alt="Bootstrap Media Preview"
                                            src="https://www.seekpng.com/png/full/245-2454602_tanni-chand-default-user-image-png.png" />
                                        <img *ngIf="item.userLogo" class="mr-3 rounded-circle"
                                            alt="Bootstrap Media Preview" src="{{ item.userLogo }}" />

                                        <div class="media-body">

                                            <div class="row">
                                                <div class="col-12 d-flex">
                                                    <a href="">{{ item.userPrettyName | titlecase }}</a>
                                                </div>
                                                <div class="col-12">
                                                    <span style="color: #adb5bd;">{{ item.creationDate | slice:0:16
                                                        }}</span>
                                                </div>
                                                <div class="col-12">
                                                    <p>{{ item.message }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Add Comment -->
                                    <form name="commentForm" (ngSubmit)="f.form.valid && onSubmitComment()" #f="ngForm"
                                        novalidate>
                                        <div class="row">
                                            <div class="col-10 offset-1">
                                                <div>
                                                    <textarea class="form-input" required name="message"
                                                        #message="ngModel" [(ngModel)]="commentForm.message"
                                                        placeholder="Votre avis nous intéresse :-)"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-10 offset-1 text-right">
                                                <button type="submit"
                                                    class="btn btn-blue text-center float-right">Publier</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Donate -->
                    <div *ngIf="display == 'don'" class="fs-project-donation">
                        <div class="row">
                            <div class="col-4">
                                <img src="../../assets/images/donation.png" alt="" style="width: 100%;">
                            </div>
                            <div class="col-7">
                                <p class="text-justify">Contribuer à ce projet en donnant une petite somme d'argent,
                                    tous les détails du
                                    projet ainsi que le budget total prévu pour l'ensemble des actions sont
                                    accessibles dans la section "Information" de la page actualle.</p>
                                <p>Le total des dons s'est élevé à <u><span>2000</span> dinars</u>.</p>
                                <div class="col-12 text-right">
                                    <button class="btn btn-danger">Contribuer<i class="fas fa-heart"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Side Bar -->
                <div class="col-4">
                    <div class="row">
                        <!-- Add Project & Community -->
                        <div class="col-12 home-events">
                            <div class="row">
                                <div class="col-12 text-center mb-10">
                                    <a class="btn fs-btn-blue fs-std-text" style="width: 90%;" href="/project/add">
                                        Lancer un Projet &nbsp; <i class="fa fa-globe" aria-hidden="true"></i></a>
                                </div>
                                <div class="col-12 text-center">
                                    <a class="btn btn-warning fs-std-text" style="width: 90%; color: white;" href="/community/add">
                                        Fonder une communauté &nbsp; <i class="fa fa-users"
                                            aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Events -->
                        <div class="col-12 home-events">
                            <h4 class="fs-sec-title">Événements</h4>
                            <div class="list-group">
                                <a href="#"
                                    class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-1">List group item heading</h6>
                                        <small>3 days ago</small>
                                    </div>
                                    <small>Donec id elit non mi porta.</small>
                                </a>
                                <a href="#"
                                    class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-1">List group item heading</h6>
                                        <small>3 days ago</small>
                                    </div>
                                    <small>Donec id elit non mi porta.</small>
                                </a>
                            </div>
                        </div>
                        <!-- Gallerie -->
                        <div class="col-12 home-fs-gallerie">
                            <h4 class="fs-sec-title">Gallerie</h4>
                            <div class="row">
                                <div class="col-4">
                                    <img src="https://www.greenpearls.com/wp-content/uploads/2018/04/Turtle-Coco-Bodu-Hiti.jpg"
                                        alt="" class="img-thumbnail">
                                </div>
                                <div class="col-4">
                                    <img src="https://www.research-in-germany.org/.imaging/mte/daad-theme/small/dam/images/Newsletter/Juni-2019/iStock-469689475_640x360.jpg/jcr:content/Green%20technology%20for%20a%20sustainable%20economy%20640x360.jpg"
                                        alt="" class="img-thumbnail">
                                </div>
                                <div class="col-4">
                                    <img src="https://assets.nrdc.org/sites/default/files/styles/full_content--retina/public/media-uploads/paintedrocks_2400.jpg?itok=yXEdi-lg"
                                        alt="" class="img-thumbnail">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <img src="https://www.greenpearls.com/wp-content/uploads/2018/04/Turtle-Coco-Bodu-Hiti.jpg"
                                        alt="" class="img-thumbnail">
                                </div>
                                <div class="col-4">
                                    <img src="https://www.research-in-germany.org/.imaging/mte/daad-theme/small/dam/images/Newsletter/Juni-2019/iStock-469689475_640x360.jpg/jcr:content/Green%20technology%20for%20a%20sustainable%20economy%20640x360.jpg"
                                        alt="" class="img-thumbnail">
                                </div>
                                <div class="col-4">
                                    <img src="https://assets.nrdc.org/sites/default/files/styles/full_content--retina/public/media-uploads/paintedrocks_2400.jpg?itok=yXEdi-lg"
                                        alt="" class="img-thumbnail">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <img src="https://www.greenpearls.com/wp-content/uploads/2018/04/Turtle-Coco-Bodu-Hiti.jpg"
                                        alt="" class="img-thumbnail">
                                </div>
                                <div class="col-4">
                                    <img src="https://www.research-in-germany.org/.imaging/mte/daad-theme/small/dam/images/Newsletter/Juni-2019/iStock-469689475_640x360.jpg/jcr:content/Green%20technology%20for%20a%20sustainable%20economy%20640x360.jpg"
                                        alt="" class="img-thumbnail">
                                </div>
                                <div class="col-4">
                                    <img src="https://assets.nrdc.org/sites/default/files/styles/full_content--retina/public/media-uploads/paintedrocks_2400.jpg?itok=yXEdi-lg"
                                        alt="" class="img-thumbnail">
                                </div>
                            </div>
                        </div>
                        <!-- Comments -->
                        <div class="col-12 home-comments">
                            <h4 class="fs-sec-title">Derniers Commentaires</h4>
                            <div class="row">
                                <ul class="nav flex-column fs-comments">
                                    <li class="nav-item">
                                        <span>[username]</span>
                                        <a href="">This content is a little bit longer.</a>
                                    </li>
                                    <li class="nav-item">
                                        <span>[username]</span>
                                        <a href="">This content is a little bit longer.</a>
                                    </li>
                                    <li class="nav-item">
                                        <span>[username]</span>
                                        <a href="">This content is a little bit longer.</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Gallery -->
<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding-bottom: 7px;">
                <div class="col-md-8" id="image-gallery-caption" style="font-size: 0.8rem">
                    This text will be overwritten by jQuery
                </div>
                <!-- close Button -->
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="image-gallery-title"></h4>
            </div>
            <div class="modal-body">
                <img id="image-gallery-image" class="img-fluid rounded-start" src="" style="width: 100%; height: 100%;">
            </div>
            <div class="modal-footer" style="justify-content: normal;">
                <!-- Next Previous Buttons -->
                <div class="col-1">
                    <button type="button" class="btn btn-info" style="font-size: .7rem; font-weight: bold"
                        id="show-previous-image">Préc.</button>
                </div>

                <div class="col-1  offset-md-10">
                    <button type="button" class="btn btn-success" style="font-size: .7rem; font-weight: bold"
                        id="show-next-image">Suiv.</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Image -->
<div class="modal fade fs-profile-form" id="cover" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Photo du Projet</h5>
                <button type="button" id="coverModalClose" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form *ngIf="!isCoverUpdateSucceded" name="coverForm" (ngSubmit)="f.form.valid && onSubmitCover()"
                    #f="ngForm" novalidate>
                    <div class="row px-3">
                        <label class="mb-1">
                            <h6 class="mb-0 text-sm">Photo</h6>
                        </label>
                        <input type="text" class="mb-10 input-font-8em" name="cover"
                            placeholder="Entrez l'url de l'image" #cover="ngModel" required
                            [(ngModel)]="coverForm.cover">
                    </div>
                    <div class="alert alert-danger" *ngIf="cover.errors && f.submitted">
                        <div *ngIf="cover.errors.required">champ obligatoire!</div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12">
                            <button type="submit" class="btn btn-blue text-center float-right">Enregister</button>
                        </div>
                    </div>
                </form>
                <div *ngIf="isCoverUpdateSucceded" class="mt-25 ml-25 mr-25 text-center">
                    <div class="alert alert-success" role="alert">
                        Photo mis à jour avec succès!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Project -->
<div class="modal fade fs-profile-form" id="editProject" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Mise à jour Projet</h5>
                <button type="button" id="userModalClose" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form *ngIf="!isProjectUpdateSucceded" name="projectForm" (ngSubmit)="f.form.valid && onSubmitProject()"
                    #f="ngForm" novalidate>
                    <!-- name -->
                    <div class="row px-3">
                        <label class="mb-1">
                            <h6 class="mb-0 text-sm">Nom</h6>
                        </label>
                        <input class="mb-10 input-font-8em" type="text" name="name" #name="ngModel"
                            [(ngModel)]="projectForm.name" placeholder="Entrez un nom valide" required>
                    </div>
                    <div class="alert alert-danger" *ngIf="name.errors && f.submitted">
                        <div *ngIf="name.errors.required">Nom requis</div>
                    </div>
                    <!-- budget -->
                    <div class="row px-3">
                        <label class="mb-1">
                            <h6 class="mb-0 text-sm">Budget (TND)</h6>
                        </label>
                        <input class="mb-10 input-font-8em" type="number" name="budget" #budget="ngModel"
                            [(ngModel)]="projectForm.budget" placeholder="Entrez un montant en TND" required>
                    </div>
                    <div class="alert alert-danger" *ngIf="budget.errors && f.submitted">
                        <div *ngIf="budget.errors.required">Budget requis</div>
                    </div>
                    <!-- description -->
                    <div class="row px-3">
                        <label class="mb-1">
                            <h6 class="mb-0 text-sm">Description</h6>
                        </label>
                        <textarea class="mb-10 input-font-8em" type="text" name="description" #description="ngModel"
                            [(ngModel)]="projectForm.description" placeholder="Entrez une description valide" required
                            rows="10"></textarea>
                    </div>
                    <div class="alert alert-danger" *ngIf="description.errors && f.submitted">
                        <div *ngIf="description.errors.required">Description requis</div>
                    </div>
                    <!-- location -->
                    <div class="row px-3">
                        <label class="mb-1">
                            <h6 class="mb-0 text-sm">Lieu</h6>
                        </label>
                        <input class="mb-10 input-font-8em" type="text" name="location" #location="ngModel"
                            [(ngModel)]="projectForm.location" placeholder="Entrez un lieu valide" required>
                    </div>
                    <div class="alert alert-danger" *ngIf="location.errors && f.submitted">
                        <div *ngIf="location.errors.required">lieu requis</div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12">
                            <button type="submit" class="btn btn-blue text-center float-right">Enregister</button>
                        </div>
                    </div>
                </form>
                <div *ngIf="isProjectUpdateSucceded" class="mt-25 ml-25 mr-25 text-center">
                    <div class="alert alert-success" role="alert">
                        Communauté mis à jour avec succée!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>