<div class="container mt-30">
    <!-- Home Page Search Bar-->
    <!-- <div class="row fs-searchbar">
        <div class="col-8">
            <nav class="navbar navbar-light bg-light col-12">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Trouvez une communauté ..."
                        aria-label="Search" style=" font-size: 0.9em; width: 75%;">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
                </form>
            </nav>
        </div>
        <div class="col-4 home-statics-tags">
            <div class="row">
                <ul class="nav col-12">
                    <li class="nav-item">
                        Projects <span href="#" class="badge badge-primary">10</span>
                    </li>
                    <li class="nav-item">
                        Événements <span href="#" class="badge badge-secondary">25</span>
                    </li>
                    <li class="nav-item">
                        Communautés <span href="#" class="badge badge-success">5</span>
                    </li>
                    <li class="nav-item">
                        Membres <span href="#" class="badge badge-warning">35</span>
                    </li>
                    <li class="nav-item">
                        Contributions <span href="#" class="badge badge-info">35</span>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-12">
            <div class="row">
                <!-- Main Content -->
                <div class="col-8 main-content">
                    <h4 class="fs-title-simple">Profile</h4>
                    <!-- User Profile -->
                    <div class="row fs-project-tabs" style="margin-left: 0">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Communautés</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Activités</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Profile -->
                    <div class="fs-project-content">
                        <div class="row">
                            <div class="col-7">
                                <div class="row" style="margin-left: 0">
                                    <div class="col-5">Pseudo </div>
                                    <div class="col-3 weight-normal">MARIAHI</div>
                                </div>
                                <div class="row" style="margin-left: 0">
                                    <div class="col-5">Niveau </div>
                                    <div class="col weight-normal">A</div>
                                </div>
                                <div class="row" style="margin-left: 0">
                                    <div class="col-5">Points d'Expérience</div>
                                    <div class="col weight-normal">100</div>
                                </div>
                                <div class="row" style="margin-left: 0">
                                    <div class="col-5">Membre depuis </div>
                                    <div class="col weight-normal">6 Juin 2021</div>
                                </div>
                                <div class="row" style="margin-left: 0">
                                    <div class="col-5">Email </div>
                                    <div class="col weight-normal"><a
                                            href="mailto:mariahi@mail.com">mariahi@mail.com</a></div>
                                </div>
                            </div>
                            <div class="col-2">
                                <img src="https://www.seekpng.com/png/full/245-2454602_tanni-chand-default-user-image-png.png"
                                    class="img-fluid rounded-start mb-15 width-75">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 offset-1">
                                <hr>
                            </div>
                        </div>
                        <div class="row" style="margin-left: 0">
                            <div class="col-2">Prénom </div>
                            <div class="col">Mohamed Ali </div>
                        </div>
                        <div class="row" style="margin-left: 0">
                            <div class="col-2">Nom </div>
                            <div class="col">Riahi</div>
                        </div>
                        <div class="row mb-15" style="margin-left: 0">
                            <div class="col-2">Age </div>
                            <div class="col-10">30 ans</div>
                        </div>
                        <div class="row" style="margin-left: 0">
                            <div class="col-2">Biographie </div>
                            <div class="col-8">
                                <p class="text-justify">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen
                                    book. It has survived not only five centuries, but also the leap into electronic
                                    typesetting, remaining essentially unchanged.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Communautés -->
                    <div class="fs-project-content">
                        <div class="row">
                            <div class="col-2 text-center pt-0">
                                <img src="https://st2.depositphotos.com/1010751/6391/v/600/depositphotos_63913815-stock-illustration-social-network-group-of-6.jpg"
                                    alt="" class="img-thumbnail round-no-border width-75">
                            </div>
                            <div class="col-10 fs-project-member-item">
                                <div class="row">
                                    <div class="col-12"><a href="">La Communauté</a></div>
                                    <div class="col-4 pt-0"><b>Fondation: </b>&nbsp;6 Juin 2020</div>
                                    <div class="col-3"><b>Secteur: </b>&nbsp;Sport</div>
                                    <div class="col-4"><b>Membres: </b>&nbsp;10</div>
                                    <div class="col-12"><b>Slogan: </b>&nbsp;La Communauté la Plus Heureuse du Monde
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 text-center pt-0">
                                <img src="https://st2.depositphotos.com/1010751/6391/v/600/depositphotos_63913815-stock-illustration-social-network-group-of-6.jpg"
                                    alt="" class="img-thumbnail round-no-border width-75">
                            </div>
                            <div class="col-10 fs-project-member-item">
                                <div class="row">
                                    <div class="col-12"><a href="">La Communauté</a></div>
                                    <div class="col-4 pt-0"><b>Fondation: </b>&nbsp;6 Juin 2020</div>
                                    <div class="col-3"><b>Secteur: </b>&nbsp;Sport</div>
                                    <div class="col-4"><b>Membres: </b>&nbsp;10</div>
                                    <div class="col-12"><b>Slogan: </b>&nbsp;La Communauté la Plus Heureuse du Monde
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 text-center pt-0">
                                <img src="https://st2.depositphotos.com/1010751/6391/v/600/depositphotos_63913815-stock-illustration-social-network-group-of-6.jpg"
                                    alt="" class="img-thumbnail round-no-border width-75">
                            </div>
                            <div class="col-10 fs-project-member-item">
                                <div class="row">
                                    <div class="col-12"><a href="">La Communauté</a></div>
                                    <div class="col-4 pt-0"><b>Fondation: </b>&nbsp;6 Juin 2020</div>
                                    <div class="col-3"><b>Secteur: </b>&nbsp;Sport</div>
                                    <div class="col-4"><b>Membres: </b>&nbsp;10</div>
                                    <div class="col-12"><b>Slogan: </b>&nbsp;La Communauté la Plus Heureuse du Monde
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Activité -->
                    <div class="col-11 fs-community-projects">
                        <!-- List Header -->
                        <div class="row bg-light-grey pb-5 pt-5">
                            <div class="col-2">Date</div>
                            <div class="col-2">Type</div>
                            <div class="col-7">Action</div>
                        </div>
                        <!-- List Items -->
                        <div class="row pb-5 pt-5">
                            <div class="col-2">6 Juin 2021</div>
                            <div class="col-2">Rejondre</div>
                            <div class="col-7">
                                a rejoint la communauté <span>"community"</span>
                            </div>
                        </div>
                        <div class="row pb-5 pt-5">
                            <div class="col-2">6 Juin 2021</div>
                            <div class="col-2">Donation</div>
                            <div class="col-7">
                                a contribuer au projet <span>"projet"</span>
                            </div>
                        </div>
                        <div class="row pb-5 pt-5">
                            <div class="col-2">6 Juin 2021</div>
                            <div class="col-2">Donation</div>
                            <div class="col-7">
                                a ajouté une photo à la gallerie du projet <span>"projet"</span>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Side Bar -->
                <div class="col-4">
                    <div class="row">
                        <!-- Events -->
                        <div class="col-12 home-events">
                            <h4 class="fs-sec-title">Événements</h4>
                            <div class="list-group">
                                <a href="#"
                                    class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-1">List group item heading</h6>
                                        <small>3 days ago</small>
                                    </div>
                                    <small>Donec id elit non mi porta.</small>
                                </a>
                                <a href="#"
                                    class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h6 class="mb-1">List group item heading</h6>
                                        <small>3 days ago</small>
                                    </div>
                                    <small>Donec id elit non mi porta.</small>
                                </a>
                            </div>
                        </div>
                        <!-- Gallerie -->
                        <div class="col-12 home-fs-gallerie">
                            <h4 class="fs-sec-title">Gallerie</h4>
                            <div class="row">
                                <div class="col-4">
                                    <img src="https://www.greenpearls.com/wp-content/uploads/2018/04/Turtle-Coco-Bodu-Hiti.jpg"
                                        alt="" class="img-thumbnail">
                                </div>
                                <div class="col-4">
                                    <img src="https://www.research-in-germany.org/.imaging/mte/daad-theme/small/dam/images/Newsletter/Juni-2019/iStock-469689475_640x360.jpg/jcr:content/Green%20technology%20for%20a%20sustainable%20economy%20640x360.jpg"
                                        alt="" class="img-thumbnail">
                                </div>
                                <div class="col-4">
                                    <img src="https://assets.nrdc.org/sites/default/files/styles/full_content--retina/public/media-uploads/paintedrocks_2400.jpg?itok=yXEdi-lg"
                                        alt="" class="img-thumbnail">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <img src="https://www.greenpearls.com/wp-content/uploads/2018/04/Turtle-Coco-Bodu-Hiti.jpg"
                                        alt="" class="img-thumbnail">
                                </div>
                                <div class="col-4">
                                    <img src="https://www.research-in-germany.org/.imaging/mte/daad-theme/small/dam/images/Newsletter/Juni-2019/iStock-469689475_640x360.jpg/jcr:content/Green%20technology%20for%20a%20sustainable%20economy%20640x360.jpg"
                                        alt="" class="img-thumbnail">
                                </div>
                                <div class="col-4">
                                    <img src="https://assets.nrdc.org/sites/default/files/styles/full_content--retina/public/media-uploads/paintedrocks_2400.jpg?itok=yXEdi-lg"
                                        alt="" class="img-thumbnail">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <img src="https://www.greenpearls.com/wp-content/uploads/2018/04/Turtle-Coco-Bodu-Hiti.jpg"
                                        alt="" class="img-thumbnail">
                                </div>
                                <div class="col-4">
                                    <img src="https://www.research-in-germany.org/.imaging/mte/daad-theme/small/dam/images/Newsletter/Juni-2019/iStock-469689475_640x360.jpg/jcr:content/Green%20technology%20for%20a%20sustainable%20economy%20640x360.jpg"
                                        alt="" class="img-thumbnail">
                                </div>
                                <div class="col-4">
                                    <img src="https://assets.nrdc.org/sites/default/files/styles/full_content--retina/public/media-uploads/paintedrocks_2400.jpg?itok=yXEdi-lg"
                                        alt="" class="img-thumbnail">
                                </div>
                            </div>
                        </div>
                        <!-- Comments -->
                        <div class="col-12 home-comments">
                            <h4 class="fs-sec-title">Derniers Commentaires</h4>
                            <div class="row">
                                <ul class="nav flex-column fs-comments">
                                    <li class="nav-item">
                                        <span>[username]</span>
                                        <a href="">This content is a little bit longer.</a>
                                    </li>
                                    <li class="nav-item">
                                        <span>[username]</span>
                                        <a href="">This content is a little bit longer.</a>
                                    </li>
                                    <li class="nav-item">
                                        <span>[username]</span>
                                        <a href="">This content is a little bit longer.</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>