(function (window) {
    window.__env = window.__env || {};

    // API url
    window.__env.userApiUrl = 'http://${USER_MGT_API_SERVICE_HOST}:${USER_MGT_API_SERVICE_PORT}';
    window.__env.communityApiUrl = 'http://${COMMUNITY_MGT_API_SERVICE_HOST}:${COMMUNITY_MGT_API_SERVICE_PORT}';
    window.__env.projectApiUrl = 'http://${PROJECT_MGT_API_SERVICE_HOST}:${PROJECT_MGT_API_SERVICE_PORT}';

}(this));